header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    
}

.logo {
    color:#F9FAF8;
    display: inline-flex;
    font-size: 24px;
    padding: 20px;
    font-weight: bold;
    margin: -15px 50px 75px 100px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

nav li{
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    margin: -15px 50px 85px -50px;
    
}

.headlink{
    font-size: 18px;
    color: #E5E7EB;
    list-style: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   
}

a:link {
    color:#E5E7EB; 
    text-decoration: none;
}

.partone{
background-color:#1F2937;
color: #F9FAF8;
display: flex;
justify-content: space-between;
}

.text {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: left;
 padding: 100px;
 width: 50%;
 margin: -7rem 10rem 0 0rem;
}

#placeholder{
    width: 30px;
}
.partone h1{
    font-size:48px;
    font-weight: 950;
    color: #F9FAF8;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    flex-wrap: wrap;
}

.partone p{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: -1rem 0rem 0rem 0rem;
}

button{
    background-color: #3882F6;
    color: #F9FAF8;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 1rem 30rem 0rem 0rem;
}

.parttwo{
    display: flex;
}
.parttwo h2{
    font-size: 36px;
    font-weight: extra-bold;
    color:#1F2937;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.parttwo p{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.partthree {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
}

.quote{
   color:#1F2937; 
   font-size: 36px;
   font-style: italic;
}
.partfour {
    display: flex;
}

.partfour .box {
    background-color: #3882F6;
    color: #E5E7EB;
}
